@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,900;1,6..96,400&family=Caveat&family=Fraunces:opsz@9..144&family=Italianno&family=Merriweather&family=MonteCarlo&family=Montserrat&family=Poppins:wght@400;700&family=Raleway&family=Roboto:wght@400;700&family=Sacramento&family=Tangerine&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family);
}
:root{
    --primary-font-color: #777C85;
    --head-font-color: #16171C;
    --font-family:  'Raleway', sans-serif;
    --head-font-family:'Roboto', sans-serif;
    --font-size: 20px;
    --head-font-size: 38px;
    --dark-color: #4E5DC0;
}

/* Utility class */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.grid{
    display: grid;
}
body{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.wrapper{
    margin: 0 auto;
    width: 1200px;
    height: 100%; 
    color: var(--primary-font-color);
}

/* NAV SECTION */
nav{
    margin-top: 50px;
    justify-content: space-between;
    place-items: center;
}
ul{
    place-items: center;
    list-style-type: none;
    width: 40%;
    justify-content: space-around;
    
    font-weight: 600;
}
a{
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 5px;
    color: var(--primary-font-color);
}
a:hover{
    color: var(--dark-color);
    cursor: pointer;
    font-weight: bold;
}
ul li a:hover{
    border-bottom: 1px solid var(--dark-color);
}
.btn{
    display: inline;
    padding-block: 20px;
    padding-inline: 25px;
    background-color: var(--dark-color);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}
.btn:hover{
    cursor: pointer;
    background-color:#414da0;
}

/* HERO Section */
.Hero-sec{
    margin-top: 150px;
    justify-content: space-between;
}

.heading{
    font-size: var(--head-font-size);
    font-family: var(--head-font-family);
    color: var(--head-font-color);
    font-weight: 400;
    margin-top: 10px;
}
hr{
    margin-top: 15px;
    width: 12.3rem;
}
.para{
    width: 28rem;
    margin-top: 40px;
    line-height: 34px;
    font-weight: 500;
}
.para-2{
    margin-top: 20px;
}

/* Hero Section2 */
.para-Hero-Sec2{
    padding-right: 90px;
}

/* Footer */
footer{
    margin-top: 200px;
    margin-bottom: 80px;
   justify-content: space-between;
   flex-wrap: wrap;
}
h4{
    color: var(--dark-color);
    margin-bottom: 20px;
    letter-spacing: 3px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 900;
}
footer p, a{
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
}
footer .logo{
    margin-top: 30px;
    margin-bottom: 50px;
}
.copy-right h4{
    text-decoration: underline;
}
.contact{
    width: 340px;
}
.Box{
    margin-bottom: 40px;
}
ol{
    list-style-type: none;
}
.social-media{
    width: 150px;
    justify-content: space-between;
}
.social-media .icon{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 2rem;
    background-color: var(--dark-color);
    
}
.social-media img{
    width: 40%;
}
#facebook-icon{
    width: 25%;
}
.icon{
    place-items: center ;
}


/* Media Query */
@media screen and (max-width: 750px) {
    nav{
        flex-direction: column;
        height: 300px;
        align-items: center;
        width: 300px;
        margin: 0 auto;
    }
    ul{
        width: 100%;
    }
    .Hero-sec{
        flex-direction: column;
        align-items: center;
    }
    .hero-img1{
        margin-top: 50px;
    }
    .hero-img2{
        margin-bottom: 50px;
    }
    footer{
        align-items: center;
        flex-direction: column;
    }
    .copy-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .contact{
        margin-bottom: 20px;
        text-align: center;
    }
    .social-media{
        margin-top: 20px;
    }
  }